body {
    background-color: papayawhip;
    padding: 10px;
}

.imgs {
    width: 25%;
    margin-left: 60px;
    border-radius: 10%;
}
.container {
    width:80%;
    text-align: center;
    display: inline-block;
    margin-bottom: 10%;
}
h1 {
    text-align: center;
    margin-bottom: 100px;

}

div#resultLine {
    margin-bottom: 50px;
}
